{{#each workouts as |workout|}}
<div class="card w-100" >
  <div class="card-body">
    <h5 class="card-title">{{workout.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">User: {{workout.user_id}}</h6>
    <p class="card-text">Completed on {{formatDate workout.date_completed}}</p>
    <p class="card-text">Exercises completed: {{workout.content}}</p>
    <p class="card-text">Intensity: {{workout.intensity}} out of 10</p>
    <p class="card-text">Length of workout: {{workout.duration}} minutes</p>
  </div>
</div>
{{/each}}
