{{#each workouts as |workout| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/project/{{workout.id}}">{{workout.title}}</a>
    </h2>
    <p>Completed on {{workout.date}}</p>
    <p>Exercises completed: {{workout.content}}</p>
    <p>Intensity: {{workout.intensity}}</p>
  </div>
</div>
{{/each}}